SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.Droid/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp/bin/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.WinPhone/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.iOS/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.WinPhone/Bin/
SampleApp/PluginSampleApp/packages/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.Droid/bin/
ExtendedMap/packages/
ExtendedMap/Components/
ExtendedMap/ExtendedMap/ExtendedMap.Forms.Plugin.iOS/bin/
ExtendedMap/ExtendedMap/ExtendedMap.Forms.Plugin.Android/obj/
ExtendedMap/ExtendedMap/ExtendedMap.Forms.Plugin.WindowsPhone/obj/
ExtendedMap/ExtendedMap/ExtendedMap.Forms.Plugin.Abstractions/obj/
ExtendedMap/ExtendedMap/ExtendedMap.Forms.Plugin.iOS/obj/
