SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.Droid/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp/bin/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.WinPhone/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.iOS/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp/obj/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.WinPhone/Bin/
SampleApp/PluginSampleApp/packages/
SampleApp/PluginSampleApp/PluginSampleApp/PluginSampleApp.Droid/bin/
