<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Forms.ExtendedCell" version="1.0.0.19" targetFramework="xamarinios1" />
  <package id="Xam.Plugins.Forms.Svg" version="1.0.0.25" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms.Maps" version="1.4.4.6392" targetFramework="xamarinios1" />
</packages>