<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Forms.ExtendedCell" version="1.0.0.19" targetFramework="monoandroid51" />
  <package id="Xam.Plugins.Forms.Svg" version="1.0.0.25" targetFramework="monoandroid51" />
  <package id="Xamarin.Android.Support.v4" version="22.2.0.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="22.2.0.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="22.2.0.0" targetFramework="monoandroid5" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="monoandroid51" />
  <package id="Xamarin.Forms.Maps" version="1.4.4.6392" targetFramework="monoandroid51" />
  <package id="Xamarin.GooglePlayServices" version="22.0.0.2" targetFramework="monoandroid5" />
</packages>