<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Forms.ExtendedCell" version="1.0.0.20" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.ExtendedMap" version="1.5.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.RoundedBoxView" version="1.0.0.7" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Forms.Svg" version="1.0.0.27" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.0.0.6490" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms.Maps" version="2.0.0.6490" targetFramework="portable45-net45+win8+wp8" />
</packages>